<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grabaseat's Christmas Cracker Promotion</title>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="../vendor/bootstrap-material-design-master/dist/css/roboto.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap-material-design-master/dist/css/material-fullpalette.css">
    <link rel="stylesheet" href="../vendor/bootstrap-material-design-master/dist/css/ripples.min.css">
    <link rel="stylesheet" href="client/css/cracker.css">
    <!-- css3-mediaqueries.js for IE less than 9 -->
    <!-- [if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body ng-controller="CrackerClientCtrl">

    <!-- overlay -->
    <div id="cc-loading-overlay" class="cc-loading-overlay">
        <script>
            (function(){
                setTimeout(function(){
                    document.getElementById('cc-loading-overlay').style.display = 'none';
                    document.getElementById('ccpromo').style.display = 'block';
                    console.log('removing loading overlay');
                },2000)
            })();
        </script>
    </div>

    <div id="ccpromo" style="display: none">
        <!-- no session -->
        <div id="ccnosessiondiv" ng-if="noSession" ng-cloak>
            <div class="paper">
                <img class="visible-sm visible-md visible-lg" src="../img/paper-tear_desktop.png">
                <img class="visible-xs" src="../img/paper-tear_mobile@2x.png">
            </div>
            <div class="cc-nosession-content">
                <img src="../img/xmascracker-logo-medium.png">
                <div class="cc-nosession-content-caption">
                    Vote for the region you think deserves <span>{{defaultDealText}}</span>, and they might just get lucky.
                </div>
            </div>
        </div>

        <!-- vote registered -->
        <div id="ccvoteregistereddiv" ng-if="voteRegistered" ng-cloak>
            <div class="paper">
                <img class="visible-sm visible-md visible-lg" src="../img/paper-tear_desktop.png">
                <img class="visible-xs" src="../img/paper-tear_mobile@2x.png">
            </div>
            <div class="cc-voteregistered-content">
                <div class="cc-voteregistered-content-caption">
                    <p>Thanks for voting!</p> Check back at {{session.voteEndTime}} to see if your region has won <b>{{defaultDealText}}.</b>
                </div>
                <img src="../img/xmascracker-logo-medium.png">
            </div>
        </div>

        <!-- Session Ended -->
        <div id="ccinstructiondiv" ng-if="displayWinner" ng-cloak>
            <div class="paper">
                <img class="visible-sm visible-md visible-lg" src="../img/paper-tear_desktop.png">
                <img class="visible-xs" src="../img/paper-tear_mobile@2x.png">
            </div>
            <div class="cc-voteregistered-content">
                <div class="cc-voteregistered-content-caption">
                    <p>Congratulations {{winningOrigin}}!</p> {{crackerOpenMessage}} <b>{{defaultDealText}}.</b>
                </div>
                <img src="../img/xmascracker-logo-medium.png">
            </div>
        </div>

        <!-- live -->
        <div id="ccmainwrapper" class="cctransfast">
            <!-- cracker open -->
            <div ng-if="sessionEnded" ng-cloak>
                <!-- confetti -->
                <confetti play="displayCrackerEnd"></confetti>

                <!-- joke -->
                <div id="ccjokewrapper" class="cctrans" ng-class="{ccjokestart : !displayJoke, ccjokeend : displayJoke}">
                    <div>
                        <img src="../img/joke-wrapper-large.png">
                    </div>
                    <div class="ccjokediv">
                        <div style="display: table;font-weight: bold;font-style: italic;height: 100%;position: relative;width: 100%;">
                            <div style="display: table-cell;vertical-align: middle;text-align: center;">{{winningJoke}}</div>
                        </div>
                    </div>
                </div>

                <!-- cracker start -->
                <div class="cctrans" id="ccdivend" ng-if="!displayBrokenCracker" ng-cloak>
                    <div class="cccrackerinner">
                        <img id="ccimg"  src="../img/start-frame_cracker-desktop@2x.png">
                    </div>
                </div>


                <!-- cracker left piece -->
                <div id="ccleftcrackeropen" class="cctransfast ccopen" ng-if="displayBrokenCracker" ng-class="{ccleftcrackeropen : !displayCrackerEnd ,ccleftcrackerend : displayCrackerEnd}" ng-cloak>
                    <img src="../img/endframe-cracker-left-hand@2x.png">
                </div>

                <!-- cracker right piece -->
                <div id="ccrightcrackeropen" class="cctransfast ccopen" ng-if="displayBrokenCracker" ng-class="{ccrightcrackeropen : !displayCrackerEnd ,ccrightcrackerend : displayCrackerEnd}" ng-cloak>
                    <img src="../img/endframe-cracker-right-hand@2x.png">
                </div>

                <div id="ccopeninfo" class="ccopeninfo cctransfast visible-lg visible-md visible-sm" ng-class="{ccinfoopenshow : displayCrackerEnd}">
                    <p>Check out Greenlight Deals below</p>
                </div>

            </div>

            <!-- cracker start -->
            <div ng-if="!sessionEnded" id="ccwrapper" class="ccout cctrans" ng-init="startTransitions()" ng-cloak>
                <div class="cctrans" id="ccdiv">
                    <div class="cccrackerinner">
                        <img id="ccimg"  src="../img/start-frame_cracker-desktop@2x.png">
                        <!--level indicator-->
                        <div class="ccindicator" ng-if="!sessionEnded && !noSession" ng-cloak>
                            <div class="cc-meter-label">Who's Winning</div>
                            <div class="cc-half-circle-inner"></div>
                            <div id="cc-divider" class="cctrans cc-divider">
                            </div>
                            <div class="cc-divider-bottom"></div>
                        </div>
                        <!--deal indicator-->
                        <div class="ccindicator" ng-if="!sessionEnded && noSession" ng-cloak>
                            <div class="cc-indicator-play-text">play for</div>
                            <div class="cc-indicator-price-text">cheap</div>
                            <div class="cc-indicator-fares-text">FARES</div>
                        </div>

                        <div class="ccleft hidden-sm hidden-xs">{{session.origin1.name}}</div>
                        <div class="ccright hidden-sm hidden-xs">{{session.origin2.name}}</div>
                    </div>
                </div>
            </div>

            <div id="ccoverlaywrapper" ng-if="!sessionEnded && !noSession && !voteRegistered" ng-cloak>
                <div id="ccleftoverlay" ng-click="pullCracker('left')" ng-mousedown="pullCracker('left')" ng-mouseup="resetCracker()" ng-mouseover="lefthovereffect = true" ng-mouseleave="lefthovereffect = false">
                    <div class="ccactionbtn cctrans ccout-left-btn" ng-class="{ccleftgrow:lefthovereffect}" id="ccleftbtn">
                        <div style="display: table; width: 100%; height:100%;">
                            <div style="display: table-cell;vertical-align: middle; text-align: center;">
                                <div style="text-align: right;">
                                    <p class="ccvotetext">VOTE<br>FOR</p>
                                </div>
                                <p class="cciatatext">{{session.origin1.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ccrightoverlay" ng-mousedown="pullCracker('right')" ng-mouseup="resetCracker()" ng-mouseover="righthovereffect = true" ng-mouseleave="righthovereffect = false"
                     ng-click="pullCracker('right')">
                    <div class="ccactionbtn cctrans ccout-right-btn" ng-class="{ccrightgrow:righthovereffect}" id="ccrightbtn">
                        <div style="display: table; width: 100%; height:100%;">
                            <div style="display: table-cell;vertical-align: middle; text-align: center;">
                                <div style="text-align: right;">
                                    <p class="ccvotetext">VOTE<br>FOR</p>
                                </div>
                                <p class="cciatatext">{{session.origin2.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="cctnc">
        <span>Terms & conditions apply</span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="dist/ChristmasCracker.min.js"></script>
    <script>
        $.material.init();
    </script>
</body>
</html>
