<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grabaseat's Christmas Cracker Promotion</title>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>
<body>
  <div style="width:100%; max-width:1150px; height:350px; margin: auto auto; overflow:hidden; padding-top: 50px;">
      <iframe width="100%" height="300px" scrolling="no" style="width:1px;min-width:100%;height:1px;min-height:100%" src="https://192.168.1.2/client"></iframe>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>